In [1]:
import pandas as pd
import cfgrib
import cdsapi
import xarray as xr
import os
import psycopg2

In [2]:
# Year and month parameters
year = '2022'
month = '12'

## Use CDS API to download 2m data for December 2022

In [3]:
conn = cdsapi.Client()

conn.retrieve(
    'reanalysis-era5-single-levels',
    {
        'product_type': 'reanalysis',
        'format': 'grib',
        'variable': '2m_temperature',
        'year': f'{year}',
        'month': f'{month}',
        'day': [
            '01', '02', '03',
            '04', '05', '06',
            '07', '08', '09',
            '10', '11', '12',
            '13', '14', '15',
            '16', '17', '18',
            '19', '20', '21',
            '22', '23', '24',
            '25', '26', '27',
            '28', '29', '30',
            '31',
        ],
        'time': [
            '00:00', '01:00', '02:00',
            '03:00', '04:00', '05:00',
            '06:00', '07:00', '08:00',
            '09:00', '10:00', '11:00',
            '12:00', '13:00', '14:00',
            '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00',
            '21:00', '22:00', '23:00',
        ],
        # Texas lat lon box boundary
        'area': [
            36.50050935248352, # north
            -106.64719063660635, # west
            25.840437651866516, # south
            -93.5175532104321, #eat
            
        ]
    },
    'download.grib')

2023-02-22 14:10:19,323 INFO Welcome to the CDS
2023-02-22 14:10:19,324 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-02-22 14:10:19,571 INFO Request is completed
2023-02-22 14:10:19,574 INFO Downloading https://download-0017.copernicus-climate.eu/cache-compute-0017/cache/data8/adaptor.mars.internal-1677082358.5509171-13367-4-87083d77-5668-4868-964f-bcf8fee85649.grib to download.grib (3.3M)
2023-02-22 14:10:21,720 INFO Download rate 1.5M/s

Result(content_length=3481920,content_type=application/x-grib,location=https://download-0017.copernicus-climate.eu/cache-compute-0017/cache/data8/adaptor.mars.internal-1677082358.5509171-13367-4-87083d77-5668-4868-964f-bcf8fee85649.grib)

In [4]:
ds=xr.open_dataset('download.grib',engine='cfgrib')

2023-02-22 14:10:21,745 WARNING Ignoring index file 'download.grib.923a8.idx' older than GRIB file

In [5]:
# Create DataArray from t2m element of grib file
t2m_da = ds['t2m']

In [6]:
# Transform data array to dataframe. Reset index (dimensions) so they appear as columns
# Perform attribute projection
df = t2m_da.to_dataframe().reset_index()[["time", "latitude", "longitude", "t2m"]]

# Convert t2m from Kelvin to Celsius
df["t2m"]=df["t2m"].apply(lambda x:x - 273.15)

# Export to CSV
df.to_csv('t2m-texas.csv', index=False)

### Load to PostgreSQL

In [7]:
# Allow sql magic
%load_ext sql
from sqlalchemy import create_engine

In [8]:
# Connect to Postgresql
key='POSTGRESQL_PASSWORD'
pwd = os.getenv(key)

postgresql_conn = f"postgresql://developer:{pwd}@localhost:5432/copernicus"

%sql $postgresql_conn

'Connected: developer@copernicus'

## Delete data to allow reloads

In [10]:
# Establish psycopg2 connection
ps_connection = psycopg2.connect(user="developer",
                                     password=pwd,
                                     host="localhost",
                                     port="5432",
                                     database="copernicus")

cursor = ps_connection.cursor()

# Execute stored procedure to delete rows by year and month
cursor.execute("CALL delete_monthly_t2m(%s, %s);", (year, month))

ps_connection.commit();

In [11]:
%%sql

COPY texas_t2m(datetime, latitude, longitude, t2m)
FROM '/home/ef/Documents/sunairio/t2m-texas.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://developer:***@localhost:5432/copernicus
1695576 rows affected.

[]

### Sanity check

In [13]:
%%sql

SELECT *
FROM texas_t2m
LIMIT 5

 * postgresql://developer:***@localhost:5432/copernicus
5 rows affected.

[(datetime.datetime(2022, 12, 1, 0, 0), Decimal('36.341000000000000'), Decimal('-104.897865384615410'), Decimal('1.661279296875023')),
 (datetime.datetime(2022, 12, 1, 0, 0), Decimal('36.341000000000000'), Decimal('-104.647846153846190'), Decimal('2.071923828125023')),
 (datetime.datetime(2022, 12, 1, 0, 0), Decimal('36.341000000000000'), Decimal('-104.397826923076960'), Decimal('1.860498046875023')),
 (datetime.datetime(2022, 12, 1, 0, 0), Decimal('36.341000000000000'), Decimal('-104.147807692307740'), Decimal('1.463037109375023')),
 (datetime.datetime(2022, 12, 1, 0, 0), Decimal('36.341000000000000'), Decimal('-103.897788461538510'), Decimal('1.364404296875023'))]