In [14]:
import pandas as pd
import cfgrib
#import eccodes
import cdsapi
import xarray as xr

## Use CDS API to download 2m data for December 2022

In [15]:
conn = cdsapi.Client()

conn.retrieve(
    'reanalysis-era5-single-levels',
    {
        'product_type': 'reanalysis',
        'format': 'grib',
        'variable': '2m_temperature',
        'year': '2022',
        'month': '12',
        'day': [
            '01', '02', '03',
            '04', '05', '06',
            '07', '08', '09',
            '10', '11', '12',
            '13', '14', '15',
            '16', '17', '18',
            '19', '20', '21',
            '22', '23', '24',
            '25', '26', '27',
            '28', '29', '30',
            '31',
        ],
        'time': [
            '00:00', '01:00', '02:00',
            '03:00', '04:00', '05:00',
            '06:00', '07:00', '08:00',
            '09:00', '10:00', '11:00',
            '12:00', '13:00', '14:00',
            '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00',
            '21:00', '22:00', '23:00',
        ],
        # Texas lat lon box boundary
        'area': [
            36.50050935248352, # north
            -106.64719063660635, # west
            25.840437651866516, # south
            -93.5175532104321, #eat
            
            # w, s, e, n
            # -106.64719063660635,25.840437651866516,-93.5175532104321,36.50050935248352
        ]
    },
    'download.grib')

2023-02-21 20:55:12,201 INFO Welcome to the CDS
2023-02-21 20:55:12,204 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-02-21 20:55:12,393 INFO Request is completed
2023-02-21 20:55:12,396 INFO Downloading https://download-0012-clone.copernicus-climate.eu/cache-compute-0012/cache/data0/adaptor.mars.internal-1677024312.4241176-3742-7-53f57dd0-2cd8-47f8-9db7-3f0d122812c2.grib to download.grib (3.3M)
2023-02-21 20:55:13,753 INFO Download rate 2.4M/s

Result(content_length=3481920,content_type=application/x-grib,location=https://download-0012-clone.copernicus-climate.eu/cache-compute-0012/cache/data0/adaptor.mars.internal-1677024312.4241176-3742-7-53f57dd0-2cd8-47f8-9db7-3f0d122812c2.grib)

In [16]:
ds=xr.open_dataset('download.grib',engine='cfgrib')

2023-02-21 20:55:13,760 WARNING Ignoring index file 'download.grib.923a8.idx' older than GRIB file

In [17]:
#ds['t2m']

In [18]:
t2m_da = ds['t2m']

In [19]:
#t2m_da.sel(longitude=30.1, latitude=-101.2, time='2022-12-07T00:00', method='nearest')

In [20]:
#t2m_da.sel().shape

In [21]:
# Transform data array to dataframe. Reset index (dimensions) so they appear as columns
# Perform attribute projection
df = t2m_da.to_dataframe().reset_index()[["time", "latitude", "longitude", "t2m"]]

In [22]:
# Transform t2m from Kelvin to Celsius

df["t2m"]=df["t2m"].apply(lambda x:x - 273.15)

# Export to CSV
df.to_csv("t2m-texas-dec-2022.csv", index=False)

df.head()

        time  latitude   longitude       t2m
0 2022-12-01    36.341 -106.648000  1.724756
1 2022-12-01    36.341 -106.397981  0.697900
2 2022-12-01    36.341 -106.147962  2.356592
3 2022-12-01    36.341 -105.897942  2.508447
4 2022-12-01    36.341 -105.647923  0.718408

In [23]:
%load_ext sql
from sqlalchemy import create_engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [24]:
# Format
%sql postgresql://developer:camus@localhost:5432/copernicus

'Connected: developer@copernicus'

In [25]:
%%sql

truncate table txdec2022;

COPY txdec2022(datetime, latitude, longitude, t2m)
FROM '/home/ef/Documents/sunairio/t2m-texas-dec-2022.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://developer:***@localhost:5432/copernicus
Done.
1695576 rows affected.

[]

In [31]:
%%sql

SELECT *
FROM txdec2022
WHERE datetime = '2022-12-01 12:00:00'
LIMIT 5

 * postgresql://developer:***@localhost:5432/copernicus
5 rows affected.

[(datetime.datetime(2022, 12, 1, 12, 0), 36.341, -106.648, -5.342626953124977),
 (datetime.datetime(2022, 12, 1, 12, 0), 36.341, -106.39798076923077, -5.657080078124977),
 (datetime.datetime(2022, 12, 1, 12, 0), 36.341, -106.14796153846154, -4.735693359374977),
 (datetime.datetime(2022, 12, 1, 12, 0), 36.341, -105.89794230769232, -3.9739746093749773),
 (datetime.datetime(2022, 12, 1, 12, 0), 36.341, -105.64792307692309, -4.474462890624977)]